:root {
    --primary-color: #2e2f42;
    --secondary-color: #434455;
    --select-color: #404bbf;
    --bt-color: #4d5ae5;
    --tertiary-color: #e7e9fc;
    --light-color: #f4f4fd;
    --bcg-color-font: #ffffff;
    --company-color: #8e8f99;
    --transition-duration--timing-f: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  